@import "bootstrap/scss/functions";

.jumbotron {
    padding-top: 5rem;
    background-color: #ebe1ff;
}

#projects {
    background-color: #ebe1ff;
}

/*
section {
    padding-top: 5rem;
}
*/

"display": (
    responsive: true,
    print: true,
    property: display,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none
  ),
  